//Colors
$pageColor: #b9bdcf;
$blueColor: #1e86ff;
$logoColor: #282538;
$darkBlueColor: #334680;
$whiteColor: #ffffff;
$grayColor: #f2f2f2;
$iconColor: invert(89%) sepia(13%) saturate(272%) hue-rotate(192deg) brightness(83%) contrast(95%);
